/OOCompanyDirectory/OOCompanyDirectory/obj
/OOCompanyDirectory/OOCompanyDirectory/bin
/OOCompanyDirectory/.vs/OOCompanyDirectory/v16
/OOCompanyDirectory/packages
/OOCompanyDirectory/UnitTestOOCompanyDirectory/bin
/OOCompanyDirectory/UnitTestOOCompanyDirectory/obj
/OOCompanyDirectory/TestResults
/OOCompanyDirectory/packages/MSTest.TestAdapter.2.1.1/build/_common/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/OOCompanyDirectory/packages/MSTest.TestAdapter.2.1.1/build/_common/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/OOCompanyDirectory/packages/MSTest.TestAdapter.2.1.1/build/_common/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/OOCompanyDirectory/packages/MSTest.TestAdapter.2.1.1/build/_common/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/OOCompanyDirectory/packages/MSTest.TestFramework.2.1.1/MSTest.TestFramework.2.1.1.nupkg
/OOCompanyDirectory/packages/MSTest.TestFramework.2.1.1/.signature.p7s
/OOCompanyDirectory/packages/MSTest.TestFramework.2.1.1/LICENSE.txt
/OOCompanyDirectory/packages/MSTest.TestFramework.2.1.1/lib
/OOCompanyDirectory/packages/MSTest.TestAdapter.2.1.1/build/_common/cs
/OOCompanyDirectory/packages/MSTest.TestAdapter.2.1.1/build/_common/de
/OOCompanyDirectory/packages/MSTest.TestAdapter.2.1.1/build/_common/es
/OOCompanyDirectory/packages/MSTest.TestAdapter.2.1.1/build/_common/fr
/OOCompanyDirectory/packages/MSTest.TestAdapter.2.1.1/build/_common/it
/OOCompanyDirectory/packages/MSTest.TestAdapter.2.1.1/build/_common/ja
/OOCompanyDirectory/packages/MSTest.TestAdapter.2.1.1/build/_common/ko
/OOCompanyDirectory/packages/MSTest.TestAdapter.2.1.1/build/_common/pl
/OOCompanyDirectory/packages/MSTest.TestAdapter.2.1.1/build/_common/pt
/OOCompanyDirectory/packages/MSTest.TestAdapter.2.1.1/build/_common/ru
/OOCompanyDirectory/packages/MSTest.TestAdapter.2.1.1/build/_common/tr
/OOCompanyDirectory/packages/MSTest.TestAdapter.2.1.1/build/_common/zh-Hans
/OOCompanyDirectory/packages/MSTest.TestAdapter.2.1.1/build/_common/zh-Hant
